:root {
    --white: #fff;
    --black: #000;
    --black-blur: rgba(0, 0, 0, 0.85);

    --red: crimson;

    --orange: #ff7400;
    --dark-orange: #d67e35;
    --brown: #bc9060;

    --dark-grey: #656363;
    --dark-grey-1000: #2c2c2c;

    --grey-light: #c4c4c4;
    --grey-light-800: #e5e5e5;

    --text-color: var(--dark-grey);
}

